<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>I'm Bored Api</title>
</head>

<body>
    <div class="container">
        <h1>Lets find something for you to do </h1>
        <form action="/" method="post">
            <select name="activity" id="activity">
                <option value="">Random Type</option>
                <option value="education">Education</option>
                <option value="charity">Charity</option>
                <option value="recreational">Recreational</option>
                <option value="busywork">Busy Work</option>
                <option value="social">Social</option>
                <option value="diy">DIY</option>
                <option value="music">Music</option>
            </select>
            <select name="participants" id="participants">
                <option value="">Any Number of people</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <input type="submit" value="Go">
        </form>
        <div class="card">
            <h1><%= locals.data.activity %></h1>
            <p class="type">Type: <%= locals.data.type %></p>
            <p class="participants">Participants: <%= locals.data.participants %></p>
        </div>
    </div>
</body>

</html>