.container{
    /* border: 2px solid black; */
    height: 60vh;
    width:60vw;
    margin: 80px auto;
    text-align: center;
}
select{
    margin:5px 20px;
    padding: 3px 10px;
}
input{
    padding: 7px;
    border:none;
    background-color: green;
    border-radius: 10px;
    color:white;
    cursor: pointer;
}
.card{
    width:450px;
    margin:50px auto;
    border: 2px solid gainsboro;
}
.type{
    float: left;
}
.participants{
    float: right;
}